* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(220, 221, 221);
  min-height: 100svh;
  padding: 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

@layer base {img {display: initial;}}
